*{
	margin: 0;
	padding: 0;
}
body{
	max-width: 100%
}
p h2{
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.container{
	width: 100%;
}
.main{
	width: inherit;
}
.thumb{
	width: 33.333333%;
	position: relative;
	float: left;
	height: calc(40vh - 2em);
	min-height: 20em;
}
.thumb a,.thumb img{
	width: 100%;
}
.thumb > h2{
	position: absolute;
	bottom: 1.875em;	
	left: 2.1875em;
	color: #fff;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	line-height: 1.5;
	text-transform: uppercase;
	z-index: 1;
}